@charset "UTF-8";
	#FlashE{
	width:1000px;
	margin-right: auto;
	margin-left: auto;
	}
	
	
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin:0 auto;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:64px;}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#000000;
	font-size:12px;
}


#ContentsArea-index	h3{
background: url(/images/blog/img_03.jpg) top left no-repeat;
text-align:left;
font-size:12px;
padding-top:7px;
padding-bottom:7px;
padding-left:30px;
}

	
	#ContentsArea-index .syousai{
	background: url(../image/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	
/*ブライダルTOPページ*/

/*ブライダルのみで使う*/
#RightEntry{position:relative;}
#RightEntry p{line-height:24px;}


#ImgTOP{
	position:absolute;
	width:169px;
	left: 481px;
	top: 0px;
}
/*各ページ*/
#MainEntry{
float:left;
width:199px;}


#RightEntry{
text-align:left;
float:right;
width:650px;}

#TxtEntry{
	margin-bottom:20px;
	text-align:left;
	width:650px;
}

#TxtEntry h3{
	margin-bottom:30px;
}

#TxtEntry p{
line-height:24px;}


.ImgEntry{
width:650px;}

.ImgBOX{
	float:left;
	width:153px;
	margin-bottom:20px;
}


.ImgBOX h4{
margin-bottom:15px;}

.ImgBOX2{
	float:right;
	width:153px;
	margin-bottom:20px;
}

.WM10{
margin-top:5px;}
.ImgBOX2 h4{
margin-bottom:15px;}
.M15P{
	margin-left:13px;
}



/*プラン*/
#centerBox{
width:650px;
text-align:center;}

.RBoxP{
width:311px;
float:right;}


.entry{
text-align:left;
padding:10px 0;
border-bottom:#d2c7a8 solid 1px;}

.entry img{
margin:5px;}

.entry p{
line-height:24px;
}


.entry more-link{

text-align:right;}


.entry2{
text-align:left;
padding:10px 0;
}

.entry2 img{
margin:5px;}

.entry2 p{
line-height:24px;
}


.entry2 more-link{

text-align:right;}


