@charset "UTF-8";
#wrapper{
	padding:0px;
	text-align:center;
	background-color:#000000;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
	}
	
	#wrapper2{
	padding:0px;
	text-align:center;
	background: url(../images/index/img_bg1.jpg) no-repeat top center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
	}
	
	#wrapperPage{
	padding:0px;
	text-align:center;
	background: url(../images/office/01/img_bg01.jpg) repeat-x top center;
	margin-top: 0px;
	height:80px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
	}
	
	#wrapperPage2{
	padding:0px;
	text-align:center;
	background: url(../images/blog/img_08.jpg) repeat-x top center;
	margin-top: 0px;
	height:29px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
	}
	
	
	#wrapperMenu{
	width:850px;
	text-align:right;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
	
	#wrapperMenu .MenuA{
	float:right;
	width:692px;
}
	
	#wrapperMenu .ButtonM{
	display:inline;
	margin-left:38px;
	float:left;
}
	
	#wrapperMenu .ButtonM2{
	display:inline;
	
	float:right;}
	
	#wrapperMenu .ButtonMT{
	display:inline;
	margin-left:20px;
	float:left;}

	
	#MaineImg{
	text-align:center;
	background: url(../images/office/01/img_bg02.jpg) repeat-x top center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	}
	
#HeadArea {
	width:1000px;
	height:29px;
	position:relative;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
	}
	
	#HeadL{
	text-align:left;
	position:absolute;
	left:109px;			/*#Contentsの左上を基準に、左から465pxの位置に配置*/
	top:-1px;
	width:118px;
}
	#HeadR{
	text-align:left;
	position:absolute;
	left:676px;			/*#Contentsの左上を基準に、左から465pxの位置に配置*/
	top:6px;
	width:250px;
}

#HeadR2{
	text-align:left;
	position:absolute;
	left:679px;			/*#Contentsの左上を基準に、左から465pxの位置に配置*/
	top:13px;
	width:250px;
}


	#HeadR li{
	float:left;}
	
	#HeadR2 li{
	float:left;}
	
	
	.Ma20{
	margin-left:20px;
}
	
	
	
	
	
	
	/*IE7用のCSS*/
	*:first-child+html #HeadArea .sabM{
	text-align: right;
	padding:0px;
	width:220px;
	position:absolute;
	left:757px;			/*#Contentsの左上を基準に、左から465pxの位置に配置*/
	top:0px;			/*#Contentsの左上を基準に、上から0pxの位置に配置*/
	margin-top: 8px;
	}
	
	.sabM li{
	float:left;}
	
	
	
	
	
	/*フッター*/
	#footer {
	margin:0 auto;
	text-align:center;
	background:#9c9c9c;
	height:113px;
	background: url(../images/index/img_bg4.jpg)  repeat-x #000000 top;
	padding:20px 0px 0px 0px;
	}
	#footerContents{
	width:850px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding-top: 0;
	padding-bottom: 0;
}
	
	#footerContents .LogoArea{
	float:left;
	margin-right:15px;
	text-align:left;
	}
	#footerContents .LeftArea{
	float:left;
	width:370px;
	text-align:left;
	margin-top:10px;
	}
	.LeftArea img{
	margin-bottom:10px;}
	
	#footerContents .RightArea{
	width:360px;
	margin-top:8px;
	text-align:left;
	float:right;
}
	
	.RightArea img{
	margin-bottom:12px;}
	
	#footerClear{
	clear:both;
}



/*「ページのTOP」ボタン*/
#TopButton{
	text-align:right;
	width:850px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0;
}

/*パンくず*/

#PanKuzu{
	position:relative;
	width:250px;
	text-align:right;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#Pan{
	width:500px;
	position:absolute;
	text-align:right;
	left: 27px;
	top: 49px;
}

#Pan .Pankuzu{
padding:7px 15px;
font-size:10px;
line-height:30px;
background-color:#000000;
color:#FFFFFF;}

.Pankuzu a{
text-decoration:none;
color:#FFFFFF;}


/*パンくずIE6.7用*/

* html #Pan{
	width:400px;
	position:absolute;
	text-align:right;
	left: 130px;
	top: 49px;
}

*:first-child+html #Pan{
	width:400px;
	position:absolute;
	text-align:right;
	left: 130px;
	top: 49px;
}

* html #Pan .Pankuzu{
padding:8px 15px 10px 15px;
font-size:10px;
background-color:#000000;
color:#FFFFFF;
}

*:first-child+html #Pan .Pankuzu{
padding:8px 15px 10px 15px;
font-size:10px;
background-color:#000000;
color:#FFFFFF;
}
/*2下層*/
.BoxEntry{

width:650px;}
.BoxEntry h3{
margin-top:40px;}


/*2下層の黒いメニュー*/

#SubMenu{
height:47px;
width:850px;
margin:0 auto;
text-align:center;
background: url(../images/office/tea/img_09.jpg) repeat-x top center;}



/*Group{}*/

.GroupE{
text-align:left;
width:580px;
margin:0 auto;}



.GroupE .BoxGoupL01{
width:425px;
float:left;
padding-top:20px;}

.GroupE2{
text-align:left;
width:600px;
margin:0 auto;}


.Bot80px2{
margin-bottom:40px;}

.Bot80px{
margin-bottom:70px;}

.GroL{
width:336px;
float:left;}


.GroR{
width:269px;
float:right;}


.GroupET{
text-align:left;
width:650px;
margin:0 auto;}

.GroupET table{
	width:400px;
	float:left;
	margin-bottom: 30px;
}

.GroupET th{
font-weight:normal;
width:100px;
text-align:right;
border-bottom:#d2c7a8 solid 1px;}

.GroupET td{
border-bottom:#d2c7a8 solid 1px;}

.GroupET.ThMp1{
vertical-align:top;
padding:15px 10px 15px 0px;}


.GroupET .TdMp1{
vertical-align:top;
padding:15px 0px 15px 10px;}

.GroupET .ThMp2{
vertical-align:top;
padding:15px 10px 15px 0px;}


.GroupET .TdMp2{
vertical-align:top;
padding:15px 0px 15px 10px;}

/*NEWSのテンプレート*/

	#wrapperNewHead{
	padding:0px;
	text-align:center;
	background:#000000;
	margin-top: 0px;
	height:26px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
	}

#NewHeadArea {
	width:1000px;
	height:26px;
	position:relative;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
	}
	


#MainEntry{}



/*PDF*/
#PdfE{
	margin-bottom:20px;}
	#PdfE p{
		padding-left:35px;
	line-height:30px;
	height:30px;
	background-image: url(../images/wedding/01/img_12.jpg);
	background-repeat: no-repeat;
	background-position: left;}
		
		
		
.PdfLink{
	margin-bottom:20px;
	
	}
	
	.PdfLink p{	
	padding-left:38px;
	line-height:30px;
	height:30px;
	background-image: url(../images/wedding/01/img_12.jpg);
	background-repeat: no-repeat;
	background-position: left;
}

.PdfLink2{
	margin:20px 0;
	}
	
	.PdfLink2 p{
	line-height:30px;
	padding-left:38px;
	height:30px;
	background-image: url(../images/wedding/01/img_12.jpg);
	background-repeat: no-repeat;
	background-position: left;
}





.TablePDF{
	width:500px;
	margin-bottom:20px;}

.TablePDF .Pdf{
	padding-left:38px;
	line-height:30px;
	height:30px;
	background-image: url(../images/wedding/01/img_12.jpg);
	background-repeat: no-repeat;
	background-position: left;}
	
.TablePDF .PV{
	padding-left:38px;
	line-height:30px;
	height:30px;
	background-image: url(../images/wedding/01/img_13.jpg);
	background-repeat: no-repeat;
	background-position: left;}
	
	.TablePDF a{
	text-decoration:none;}
	

	
	
	
		
	.TablePDF2{
	width:550px;
	}

.TablePDF2 .Pdf{
	padding-left:38px;
	line-height:30px;
	height:30px;
	background-image: url(../images/wedding/01/img_12.jpg);
	background-repeat: no-repeat;
	background-position: left;}
.TablePDF2 .PV{
	padding-left:38px;
	line-height:30px;
	height:30px;
	background-image: url(../images/wedding/01/img_13.jpg);
	background-repeat: no-repeat;
	background-position: left;}
	
	.TablePDF2 a{
	text-decoration:none;}
	
	
