@charset "utf-8";

/* ------------------------------------------- CSS Information
 File Name:       contents.css
 Author:          MIYA
 Style Info:      コンテンツ内のスタイル
----------------------------------------------------------- */

/* --------------------------------- Contents Area Style --*/
#nav-one	{
	padding-bottom: 80px;
}
#nav-one li {
	border-top: 1px solid #565656;
	border-left: 1px solid #565656;
	float: left;
	position: relative;
}
#nav-one li a {
	background: #000;
	color: #FFF;
	display: block;
	padding: 5px 25px;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
}
#nav-one li:hover a, 
#nav-one li.sfHover a {
	background: #DDD;
	color: #000;
}
#nav-one li:hover ul a, 
#nav-one li.sfHover ul a {
	background: #000;
	color: #FFF;	
}
#nav-one li:hover ul a:hover, 
#nav-one li.sfHover ul a:hover {
	background: #DDD;
	color: #000;
	border-bottom: 1px solid #565656;	
}
#nav-one ul {
	background: #000;
	margin-top: 3px;
	width: 100px;
	position: absolute;
	top: -999em;
	left: -1px;
}
#nav-one li:hover ul,
#nav-one li.sfHover ul {
	top: 25px;
}
#nav-one ul li {
	border: 0;
	float: none;
}
#nav-one ul a {
	width: 100px;
	border: 1px solid #000;
	border-bottom: 0;
	padding-right: 20px;
	white-space: nowrap;
}
#nav-one ul a:hover {
	background: #ccc;
	color: #000;
}