@charset "UTF-8";
	#FlashE{
	width:1000px；
	margin-right: auto;
	margin-left: auto;
	}
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin:0 auto;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:64px;}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#005e0d;
	font-size:14px;
}
	
	#ContentsArea-index .syousai{
	background: url(../image/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	
/*ブライダルTOPページ*/

/*ブライダルのみで使う*/
#RightEntry{position:relative;}



#ImgTOP{
	position:absolute;
	width:169px;
	left: 481px;
	top: 0px;
}
/*各ページ*/
#MainEntry{
float:left;
width:199px;}


#RightEntry{
text-align:left;
float:right;
width:650px;}

#TxtEntry{
	margin-bottom:20px;
	text-align:left;
	width:650px;
}

#TxtEntry h3{
	margin-bottom:10px;
}

#TxtEntry p{
line-height:24px;}


.ImgEntry{
width:430px;
margin:0 auto}
.ImgEntryM{
text-align:center;
width:650px;}
.ImgBOX{
	float:left;
	width:203px;
	margin-bottom:20px;
}


.ImgBOX h4{
margin-bottom:15px;}

.ImgBOX2{
	float:right;
	width:201px;
	margin-bottom:20px;
}

.WM10{
margin-top:5px;}
.ImgBOX2 h4{
margin-bottom:15px;}
.M15P{
	margin-left:13px;
}



/*プラン*/
#centerBox{
width:650px;
text-align:center;}

.RBoxP{
width:311px;
float:right;}


.RBoxP p{
	line-height:24px;}

.Li24{
	line-height:24px;}
	
#CompanyR{
width:650px;}

#CompanyR table{
	width:600px;
	margin-bottom: 30px;
}


.L_img{
float:left;}
.R_img{
float:right;
}
.R_imgW{
width:500px;
float:right;
}

/*会社概要*/
#CompanyT{
width:650px;
}

#CompanyT table{
	width:400px;
	float:left;
	margin-bottom: 30px;
}

#CompanyT th{
font-weight:normal;
width:100px;
text-align:right;
border-bottom:#d2c7a8 solid 1px;}

#CompanyT td{
border-bottom:#d2c7a8 solid 1px;}

#CompanyT .ThMp1{
vertical-align:top;
padding:15px 10px 15px 0px;}


#CompanyT .TdMp1{
vertical-align:top;
padding:15px 0px 15px 10px;}

#CompanyT .ThMp2{
vertical-align:top;
padding:0px 10px 15px 0px;}


#CompanyT .TdMp2{
vertical-align:top;
padding:0px 0px 15px 10px;}
/*交通アクセス*/
#ImgMap{
position:relative;
text-align:right;
margin-bottom:20px;}

#Gmap{
	width:111px;
	position:absolute;
	left: 493px;
	top: 728px;
}




.MapBoxL{
	padding-top:10px;
	width:320px;
	float:left;}
	

.MapBoxR{
	padding-top:10px;
	width:320px;
	float:right;}
	
	.MapImgR{
	width:394px;
	float:right;
}



/*料理*/

.RyouriBox{
width:650px;
font-size:10px;
padding-bottom:48px;
}

.RyouriBox h3{
margin-bottom:30px;}

.RyouriL1{
	width:455px;
	float:left;
}
.RyouriL2{
	width:360px;
	float:left;
}
.RyoriImgR{
float:right;
margin:0;}

.LiBox{
width:420px;
margin-left:20px;
font-size:10px;}

.RyoBox{
width:650px;}

.LiBox li{
float:left;}

.LiBox .MaL20{
margin-left:20px;}

.LiBox .MaL40{
margin-left:40px;}

.RyoriImgR img{
margin:0;}

.LiBox2{
width:334px;
margin-left:20px;
font-size:10px;}
.LiBox2 li{
float:left;}

.LiBox2 .MaL20{
margin-left:20px;}

.LiBox2 .MaL40{
margin-left:47px;}

/*歴史*/


#Righthistory{
text-align:left;
float:right;
width:650px;}

#Righthistory table{
width:650px;}

#Righthistory th{
text-align:right;
vertical-align:top;
background: url(../images/kodawari/02/img_03.jpg) repeat-y right;}

#Righthistory td{
vertical-align:top;
text-align:left;}

#Righthistory .TBm1{
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 0;
}
#Righthistory .TBm2{
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 0;
}

#Righthistory .TBm3{
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#Righthistory .TBm4{
padding: 5px 0px 30px 20px;
}

.BoxEntry2{
	width:650px;
	padding-top: 30px;
}

.BoxEntry2 h3{
margin-bottom:10px;}
.BoxEntry2 h4{
margin-bottom:10px;}


.BoxEntry3{
position:relative;
margin-top:30px;
width:650px;}

.Txt1{
	width:320px;
}
.Txt2{
margin-bottom:30px;
	width:500px;
}
.Img1{
	position:absolute;
	width:174px;
	left: 332px;
	top: 0px;
}
.Img2{
	position:absolute;
	width:131px;
	left: 519px;
	top: 101px;
}

.Rbox1{
	width:420px;
	float:right;
}
.Lbox1{
padding-top:20px;
	width:207px;
	float:left;
}

.nendaikiE{
width:470px;
float:left;}


/*フォーム*/
#FormEntry{
width:600px;
text-align:center;
margin:0 auto;}
#FormEntry h4{
margin:20px 0;}

#FormEntry table{
width:570px;
margin-bottom:30px;
text-align:center;
}

#FormEntry th{
padding: 10px 10px 20px 0;}

#FormEntry .TaTh1{
	text-align:left;
padding-left:30px;
font-size:10px;
	}

#FormEntry .TaTh4{
text-align:left;
padding-left:50px;
font-size:9px;
	
}
#FormEntry .TaTh2{
text-align:right;}

#FormEntry .TaTh3{
padding-left:30px;
text-align:left;}


#FormEntry td{
vertical-align:top;
text-align:left;
}

#FormEntry .TaTd1{
width:120px;}


#FormEntry .TaTd2{
padding-right:10px;
width:120px;
}

#FormEntry .TaTd3{
	font-size:10px;
	padding-left:10px;
	padding-bottom: 20px;
}
#FormEntry .TaTdM{
padding-top:20px;
padding-left:50px;
}

#FormEntry .TaTdM2{
padding-top:10px;
padding-left:10px;
}

.Txt01{
padding-top:10px;
padding-left:20px;}
