@charset "UTF-8";
	#FlashE{
	width:1000px；
	margin-right: auto;
	margin-left: auto;
	}
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin:0 auto;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:64px;}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#005e0d;
	font-size:14px;
}
	
	#ContentsArea-index .syousai{
	background: url(../image/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	
/*ブライダルTOPページ*/

/*ブライダルのみで使う*/
#RightEntry{position:relative;}


#ImgTOP{
	position:absolute;
	width:169px;
	left: 481px;
	top: 0px;
}
/*各ページ*/
#MainEntry{
float:left;
width:199px;}


#RightEntry{
text-align:left;
float:right;
width:650px;}

#TxtEntry{
	margin-bottom:20px;
	text-align:left;
	width:650px;
}

#TxtEntry h3{
	margin-bottom:30px;
}

#TxtEntry p{
	line-height:24px;
	margin-top: 5px;
	margin-bottom: 20px;
}


.ImgEntry{
width:650px;}


#FormEntry{
width:600px;
text-align:center;
margin:0 auto;}
#FormEntry h4{
margin:20px 0;}

#FormEntry table{
width:550px;
margin-bottom:30px;
text-align:center;
}

#FormEntry th{
padding: 10px 10px 20px 0;}

#FormEntry .TaTh1{
	text-align:right;
	padding-bottom:16px;
}
#FormEntry .TaTh2{
text-align:right;}

#FormEntry .TaTh3{
padding-left:30px;
text-align:left;}


#FormEntry td{
vertical-align:top;
text-align:left;
}

#FormEntry .TaTd1{
width:120px;}


#FormEntry .TaTd2{
padding-right:10px;
width:120px;
}

#FormEntry .TaTd3{
	font-size:10px;
	padding-left:10px;
	padding-bottom: 20px;
}
#FormEntry .TaTdM{
padding-top:13px;
padding-left:10px;
}

#FormEntry .TaTdM2{
padding-top:10px;
padding-left:10px;
}


/*レイアウト用*/

.WM10{
margin-top:5px;}
.ImgBOX2 h4{
margin-bottom:15px;}
.M15P{
	margin-left:13px;
}


#Thanks{
	padding-left:100px;
	width:600px;
	padding-top: 50px;
}
.ThanksImg{
	width:350px;
	text-align:center;
}
