@charset "UTF-8";
	#FlashE{
	width:1000px；
	margin-right: auto;
	margin-left: auto;
	}
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin:0 auto;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:64px;}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#005e0d;
	font-size:14px;
}
	
	#ContentsArea-index .syousai{
	background: url(../image/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	
/*TOPページ*/



/*各ページ*/
#MainEntry{
float:left;
width:199px;}


#RightEntry{
text-align:left;
float:right;
width:650px;}

#TxtEntry{
	margin-bottom:20px;
	text-align:left;
	width:650px;
}

#TxtEntry h3{
margin-bottom:10px;}

#TxtEntry p{
line-height:24px;}


.ImgEntry{
width:650px;}

.ImgBOX{
	float:left;
	width:153px;
	margin-bottom:20px;
}


#con{
width:650px;
padding:150px 0 0 0;}

#TxtEntry p img {
   margin-left: 90px;
   margin-top: 15px;}	



/*たかのは*/
#Taka{
width:650px;}

.Taka{
width:600px;
padding:0 25px;}

* html .Taka{
width:650px;
padding:0 25px;}

.TakaL1{
float:left;
width:280px;} 

.TakaL2{
	float:left;
	width:410px;
} 

.TakaR1{
float:right;
width:280px;} 


.TaR{
float:right;}

.TakaL2 table{
	width:410px;
} 
.TakaL2 td{
vertical-align:top;
}

.TakaL2 th{

font-weight:normal;}

.TaTh{
vertical-align:top;
text-align:right;
padding:10px 5px 10px 0}

.TaTh1{
vertical-align:top;
text-align:left;
width:100px;
padding:10px 0px 10px 0}

.TaTh2{
vertical-align:top;
text-align:right;
padding:0px 5px 10px 0}

.TdTh1{
padding:10px 0px 10px 5px;}

.TdTh2{
padding:0px 0px 10px 5px;}

.TdTh3{
padding:5px 0px 10px 5px;}
/*詳細*/
.SYousai{
	width:550px;
	padding-top: 0;
	padding-right: 50px;
	padding-bottom: 0;
	padding-left: 50px;
}

* html .SYousai{
	width:650px;
	padding-top: 0;
	padding-right: 50px;
	padding-bottom: 0;
	padding-left: 50px;
}

.SyoL1{
	padding-top:20px;
	float:left;
	text-align:left;
	width:314px;
} 

.SyoL2{
	padding-top:50px;
	float:left;
	text-align:right;
	width:300px;
} 

.SyoL3{
text-align:left;
	float:left;
	width:165px;
} 

.SyoR1{
text-align:left;
	float:right;
	width:210px;
} 
.SyoR2{
text-align:left;
	padding-top:50px;
	float:right;
	width:370px;
}

.SyoR3{
    text-align:left;
	float:right;
	line-height:24px;
	width:320px;
} 
.SYousaiT{
width:650px;}


.SYousaiT table{
font-size:10px;
width:390px;}

.TxtS10{
vertical-align:top;
font-size:10px;}



/*かりん*/


.KarinL1{
	float:left;
	width:320px;
	padding-top:5px;
	} 

.KarinL2{
	float:left;
	width:300px;
} 
.KarinR2{
float:right;
text-align:left;
	width:300px;
} 

.KarinBOX{
	margin-bottom:25px;}

.KarinBOXL{
	float:left;
	width:350px;
	padding-top:5px;
	} 

.KarinBOXR{
	float:right;
	width:300px;
	text-align:right;
} 


.KarinBOXL2{
	float:left;
	width:300px;
	} 

.KarinBOXR2{
	float:right;
	width:350px;
	text-align:left;
} 

.KarinBOXR img{
	margin-bottom:30px;}

.MenuBox{
	width: 350px;
	margin-bottom:10px;}

.MenuBox h4{
	margin-bottom: 7px;
	margin-top: 10px;}	
	
.MenuBox h4.title{
	margin-bottom:11px;
	margin-top: 10px;}
	
.MenuBox li{
	margin:0 0 5px 25px;}

.MenuBox li.MB8{
	margin-bottom:8px;}
	
.MenuBox ul{
	margin-bottom:25px;}

.DrinkBox{
	margin-top: 30px;}	 

.DrinkBox h4{
	margin-bottom: 3px;}
	
.DrinkBox ul{
	margin-bottom: 15px;}
	
.DrinkBox li{
	margin: 0 0 7px 15px;}

.karin_kyugyo{
	padding-bottom:30px !important;}