@charset "UTF-8";
	#FlashE{
	width:1000px;
	margin-right: auto;
	margin-left: auto;
	}
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 10px;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:75px;
}
	
	#MainmenuBG .ButtonM2{
	display:inline;
	margin-left:70px;
}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#005e0d;
	font-size:14px;
}
	
	#ContentsArea-index .syousai{
	background: url(../image/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	/*1番左のボックス*/
	#ContentsL{
	float:left;
	width:377px;
	}
	
	#ContentsL h3{
	margin-bottom:5px;
	margin-top:20px;	}
	
	#CTopbox{
	text-align:left;
	width:377px;
	}
	
	
	/*新着情報のテーブル*/
	
	#CTopbox table{
	width:370px;}
	
	#CTopbox th{
	text-align:left;
	font-weight:normal;
	padding-left:7px;}
	
	#CTopbox td{
	text-align:left;
	font-weight:normal;
	padding-left:5px;}
	
	
	
	#CBottombox{
	display:inline;
	text-align:left;
	width:357px;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	}
	/*IE6用のCSS*/
	* html #CTopbox{
	text-align:left;
	width:300px;
	height:23px;
	}
	/*IE6用のCSS*/
	* html #CBottombox{
	text-align:left;
	width:300px;
	padding-top:20px;
	height:318px;
	}
	
	#CBottombox img{
	margin-bottom:15px;}
	
	/*1*/
	#ContentsL2{
	float:left;
	text-align:left;
	width:318px;
	
	}
	#CTopbox2{
	text-align:left;
	width:284px;
	padding-left:17px;
	padding-right:17px;
	height:23px;
	background: url(../image/index/img_bg7.jpg) no-repeat top;
}
	/*IE6用のCSS*/
	* html #CTopbox2{
	text-align:left;
	width:318px;
	height:23px;
	}

	#CBottombox2{
	text-align:left;
	width:283px;
	padding-top:20px;
	padding-left:17px;
	padding-right:18px;
	height:318px;
	background: url(../image/index/img_bg8.jpg) no-repeat top;}
	
	#CBottombox2 img{
	margin-bottom:15px;}
	#CBottombox2 p{
	border-top:#CCCCCC solid 1px;
	padding:10px 0px 10px 10px;
	width:265px;
	}
		
		
	
	
	/*真ん中*/
	#ContentsM{
	float:left;
	text-align:left;
	width:318px;
	}
	
	#CTopboxM{
	text-align:left;
	width:283px;
	padding-left:17px;
	padding-right:18px;
	height:23px;
	background: url(../image/index/img_bg7.jpg) no-repeat top;}
	
	/*IE6用のCSS*/
	* html #CTopboxM{
	text-align:left;
	width:318px;

	height:23px;
	background: url(../image/index/img_bg7.jpg) no-repeat top;}
	
		#CBottomboxM{
	text-align:left;
	width:283px;
	padding-top:20px;
	padding-left:17px;
	padding-right:18px;
	height:318px;
	background: url(../image/index/img_bg8.jpg) no-repeat top;}
	
	#CBottomboxM img{
	margin-bottom:15px;}
	
	#CBottomboxM p{
	border-top:#cccccc solid 1px;
	padding:10px 0px 10px 10px;
	width:265px;
	}
		
	
	/*右*/
	#ContentsL3{
	float:right;
	display:inline;
	text-align:left;
	width:370px;
	}

	#CTopbox3{
	width:370px;
	}

	#CBottombox3{
	text-align:left;
	width:193px;
	padding-left:17px;
	padding-top:20px;
}


.r_box { width: 100%;
         margin-top: 20px;}

.r_box p {
	margin-bottom: 20px;
}
		 
		 
.r_img { margin-top: 20px;}

.r_img02 { margin-top:10px; }
	
	
/*IE6用のCSS*/
	* html #CTopbox3{
	text-align:left;
	width:210px;
	height:23px;
	}


	
	
.btn_shop_l {
	margin-top: 10px;
}

/*Twitter*/

#Twi_img{
margin-top:13px;
float:left;
padding:0;
width:100px;}
.tweet{
margin-top:10px;
	width:270px;
	float:right;
	padding:0;
}
.tweet .tweet_list{
text-align:left;
padding-left:5px;
line-height:24px;}

.tweet .tweet_list li{
	color:#000000;
	margin: 0 ;
	padding:0;
	border-bottom:1px solid #b49642;
	text-decoration:none;}
	
.tweet .tweet_list .tweet_avatar{
    display:none;
}
	
.tweet .tweet_list .tweet_avatar img {
    display:none;
}
	
	
	/*中央バナー2010/10～*/
	
table.banner { width: 100%;}

.banner td {vertical-align:top;}


/*震災挨拶2011/3～*/

.Sbox{
	width: 500px;
	margin: 0 auto;
	padding: 20px 0 50px;
	font-size: 14px;
	}

.Sbox .sign{
	text-align:right;
	float:right;
	margin-top: 15px;
	width: 150px;}
			   
.Sbox h4{
	text-align: center;
	width:500px;
	clear:both;}

.Sbox .text_b{
	padding: 15px;
	line-height:22px;
	font-size:12px}
	

.s_text{
	width: 358px;
	_width: 360px;
	margin: 5px 0 10px 8px;
	_margin: 5px 0 10px;
	padding: 10px 0;
	font-size:15px;
	font-weight: bold;
	text-align:center;
	background: #FFF;
	border: solid #000 2px;
	vertical-align: middle;}
		
.s_text a{
	text-decoration:none;}	
				   
			   
.bnr_left{
	width:160px;
	float:left;
	padding-top:5px;}         
               
.l_img{
    float:left;
    }
 .bnr_index .r_img {
    float:left;
    margin:0 0 0 20px !important;
    }   