@charset "UTF-8";
	#FlashE{
	width:1000px；
	margin-right: auto;
	margin-left: auto;
	}
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin:0 auto;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:64px;}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#005e0d;
	font-size:14px;
}
	
	#ContentsArea-index .syousai{
	background: url(../images/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	
/*ページ*/

/*各ページ*/
#MainEntry{
float:left;
width:199px;}


#RightEntry{
text-align:left;
float:right;
width:650px;}
#RightEntry p{
line-height:24px;
}
#TxtEntry{
	margin-bottom:20px;
	text-align:left;
	width:650px;
}

#TxtEntry h3{
margin-bottom:10px;}

#TxtEntry p{
line-height:24px;}


.ImgEntry{
width:650px;}

.ImgBOX{
	float:left;
	width:153px;
	margin-bottom:20px;
}


.ImgBOX h4{
margin-bottom:15px;}

.ImgBOX2{
	float:right;
	width:153px;
	margin-bottom:20px;
}


.ImgBOX2 h4{
margin-bottom:15px;}
.M15P{
	margin-left:13px;
}
/*歴史*/


#Righthistory{
text-align:left;
float:right;
width:650px;}

#Righthistory table{
width:650px;}

#Righthistory th{
text-align:right;
vertical-align:top;
background: url(../images/kodawari/02/img_03.jpg) repeat-y right;}

#Righthistory td{
vertical-align:top;
text-align:left;}

#Righthistory .TBm1{
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 0;
}
#Righthistory .TBm2{
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 0;
}

#Righthistory .TBm3{
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#Righthistory .TBm4{
padding: 5px 0px 30px 20px;
}
.BoxEntry2{
	width:650px;
	padding-top: 30px;
}

.BoxEntry2 h3{
margin-bottom:10px;}
.BoxEntry2 h4{
margin-bottom:10px;}


.BoxEntry3{
position:relative;
margin-top:30px;
width:650px;}

.Txt1{
	width:320px;
}
.Txt2{
margin-bottom:30px;
	width:500px;
}
.Img1{
	position:absolute;
	width:174px;
	left: 332px;
	top: 0px;
}
.Img2{
	position:absolute;
	width:131px;
	left: 519px;
	top: 101px;
}

.Rbox1{
	width:420px;
	float:right;
}
.Lbox1{
padding-top:20px;
	width:207px;
	float:left;
}
/*おせち*/
.IMGR{
float:right;}

.TopOseti{
	width:330px;
}

.Lbox2{
	float:left;
	text-align:left;
	padding-top:25px;
	width:307px;
}

.Rbox2{
	float:right;
	text-align:left;
	padding-top:25px;
	width:307px;
}
/*ギフト*/

.GiftBox{
	width:580px;
	margin-bottom:30px;
	padding-top: 0px;
	padding-right: 35px;
	padding-bottom: 0px;
	padding-left: 35px;
}
* html .GiftBox{
	width:650px;
	margin-bottom:30px;
	padding-top: 0px;
	padding-right: 35px;
	padding-bottom: 0px;
	padding-left: 35px;
}
.GiftR{
width:307px;
float:right;}
.GiftL{
width:307px;
float:left;}


.GiftBox .Ma20px{
margin-left:20px;}

.TellE{
width:650px;
text-align:center;
margin:50px 0 20px 0;}
.btn_shop {
	margin-top: 10px;
}

.GiftBox p img{
	margin-top: 20px;
	margin-left: 100px;}
