@charset "UTF-8";
	#FlashE{
	width:1000px；
	margin-right: auto;
	margin-left: auto;
	}
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin:0 auto;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:64px;}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#005e0d;
	font-size:14px;
}
	#ConBG{
	width:100%;
	background: url(../images/office/01/img_bg02.jpg) top repeat-x;}
	#ContentsArea-index .syousai{
	background: url(../image/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	
/*ブライダルTOPページ*/

/*ブライダルのみで使う*/
#RightEntry{position:relative;}
#RightEntry p{line-height:24px;}


#ImgTOP{
	position:absolute;
	width:169px;
	left: 481px;
	top: 0px;
}
/*各ページ*/
#MainEntry{
	float:left;
	width:199px;
	padding-top: 150px;
}


#RightEntry{
	text-align:left;
	float:right;
	width:650px;
	padding-top: 30px;
}

div,td,th,p,pre  { 
	margin: 0 ;
	color:#000000;
	}
	
	
/*2011年冬の懐石プラン*/

.PlanBox{
	width:650px;
	margin-bottom:20px;}
	
.PlanBox h3{
	margin-top:30px;}
	
.PlanBoxL{
	width:350px;
	float:left;
	margin-top:20px;}
	
.PlanBoxL img{
	margin-bottom:2px;}
	
.PlanBoxR{
	float:right;
	width:285px;
	margin-top:30px;}	
	
.PlanBoxR img{
	margin-bottom:20px;}
	
.PlanBoxL2{
	width: 360px;
	float:left;}
	
.PlanBox .imgR{
	float:right;
	margin-top:30px;}	
	
.sakura_box{
	margin:10px 0 60px;}
	
.sakura_box dl{
	margin:20px 0;
	overflow:hidden;}
	
.sakura_box dt{
	float:left;}
	
.sakura_box dd{
	margin-left:94px;}
sakura_box p{
	margin:0;}
	
.entry_detail { margin:40px 0 70px;}
.entry_detail h4 {}
.entry_detail table {border-collapse: collapse;}
.entry_detail tr:first-child th ,
.entry_detail tr:first-child td {	border-top:none; padding-top:5px;}
.entry_detail th {
	width:120px;
 	font-family:   "ヒラギノ明朝 ProN W6",   "HiraMinProN-W6",   "HG明朝E",   "ＭＳ Ｐ明朝",   "MS PMincho",   "MS 明朝",   serif;
	font-size:16px;
	font-weight:bold;
	vertical-align:top;
	padding:20px 0;
	letter-spacing:0.05em;
	border-top:1px solid #000;
}
.entry_detail td {
	width:530px;
 	font-family:   "ヒラギノ明朝 ProN W6",   "HiraMinProN-W6",   "HG明朝E",   "ＭＳ Ｐ明朝",   "MS PMincho",   "MS 明朝",   serif;
	line-height:1.8em;
	font-weight:bold;
	vertical-align:top;
	padding:20px 0;
	letter-spacing:0.03em;
	border-top:1px solid #000;
}
.entry_detail .day th { line-height:35px;}
.entry_detail .day td {	font-size:20px;}
.entry_detail .kaihi th { line-height:24px;}
.entry_detail .kaihi td {	font-size:16px;}
.entry_detail .moshikomi td {}
.entry_detail .btn_area {
	margin:15px 0;
	text-align:center;
}



