@charset "UTF-8";
	#FlashE{
	width:1000px；
	margin-right: auto;
	margin-left: auto;
	}
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin:0 auto;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:64px;}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#005e0d;
	font-size:14px;
}
	
	#ContentsArea-index .syousai{
	background: url(../image/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	
/*各ページ*/
#MainEntry{
float:left;
width:199px;}


#RightEntry{
text-align:left;
float:right;
width:650px;}

#TxtEntry{
	margin-bottom:20px;
	text-align:left;
	width:650px;
}

#TxtEntry h3{
margin-bottom:10px;}

#TxtEntry p{
line-height:24px;}


.ImgEntry{
width:650px;}

.ImgBOX{
float:left;
width:153px;
margin-bottom:20px;}


.ImgBOX h4{
margin-bottom:15px;}

.ImgBOX2{
float:right;
width:153px;
margin-bottom:20px;}


.ImgBOX2 h4{
margin-bottom:15px;}
.M15P{
margin-left:13px;}


/*芸者*/

.P_cen{
text-align:center;
margin:10px 0;}
/*宿*/
.Lbox{
	float:right;
	text-align:left;
	padding-top:10px;
	width:370px;
}
/*部屋*/
.Rbox2{
	float:right;
	text-align:left;
	padding-top:40px;
	width:250px;
}

.Lbox2{
	float:left;
	text-align:left;
	padding-top:40px;
	width:250px;
}
.BoxEntry h4{
margin:10px 0;}

#TableBox{
	width:650px;
	padding:20px 0;
}

#TableBox table{
margin-top:20px;
text-align:left;
width:650px;}

#TableBox th{
border-bottom:#d2c7a8 1px solid;
width:150px;
vertical-align:top;
padding:10px 20px 10px 10px;
font-weight:normal;}

#TableBox td{
vertical-align:top;
border-bottom:#d2c7a8 1px solid;
padding:10px 10px 10px 0px;}

#TableBox2{
	width:650px;
	padding:20px 0;
}

#TableBox2 table{
margin-top:10px;
text-align:left;
width:650px;}

#TableBox2 th{
border-bottom:#d2c7a8 1px solid;
width:150px;
vertical-align:top;
padding:10px 20px 10px 10px;
font-weight:normal;}

#TableBox2 td{
vertical-align:top;
border-bottom:#d2c7a8 1px solid;
padding:10px 10px 10px 0px;}


/*ビアホール*/
#BeerhallTop{
	margin-bottom:20px;
	text-align:left;
	width:650px;
}

.NewBeer01{
	width:100%;
	padding:10px 0;
	text-align:center;}
	
.NewBeer01 p{
	text-align:left;
	}	
	
.NewBeer01 img{
	margin:10px 0;
}
	

#BeerhallTop p{}
#BeerhallTopImg{
float:left;
width:250px;}

#BeerhallTopTxt{
float:right;
width:380px;}
#BeerhallTopTxt h3{
margin-top:15px;
margin-bottom:10px;}

#BeerhallTop p img {
	margin-left: 20px;
	margin-top: 5px;}

#BeerhallBox{
margin-top:30px;
width:650px;}


#BeerhallBox .Mb40Px{
margin-bottom:40px;}

#BeerhallBox .LImg0{
float:left;}

#BeerhallBox .RImg0{
float:right;}






.BeerhallBoxL{
	text-align:center;
	width:307px;
	float:left;
}


.BeerhallBoxLN{
	text-align:left;
	width:307px;
	float:left;
}

.BeerhallBoxL2{
	text-align:left;
	width:307px;
	padding-left:10px;
	float:left;
}

.BeerhallBoxR{
width:308px;
padding-bottom:10px;
float:right;}
.BeerhallBoxR2{
width:315px;
float:right;}



.BeerhallBoxL table{
	width:307px;
}

.BeerhallBoxL th{
text-align:left;}



.BeerhallBoxL td{
text-align:right;}

.BeerhallBoxL .PPx1{
padding: 0 0 4px 0;}

.BeerhallBoxL .PPx2{
padding:4px 0 4px;}






.BeerhallBoxLN table{
	width:307px;
}

.BeerhallBoxLN th{
text-align:left;}



.BeerhallBoxLN td{
text-align:right;}

.BeerhallBoxLN .PPx1{
padding: 0 0 2px 0;}

.BeerhallBoxLN .PPx2{
padding:2px 0 2px;}








.BowerBox{
	width: 650px;
	margin: 10px 0 10px; }

.BowerBox p{
	margin: 10px 15px ;
	line-height:2;}	
	
.BowerBox .img_bn{
	margin:0 auto 50px;
	text-align:center;
	width:650px;}	

.BowerBoxL {
	width: 290px;
	float: left;}
	
.BowerBoxR {
	width: 340px;
	float: right;
	text-align:center; }
	
.BowerBoxL2 {
	width: 340px;
	float: left;}
	
.BowerBoxR2 {
	width: 290px;
	float: right;
	text-align:center; }

.BowerBoxSP{
	width:650px;
	margin-top:20px;}	

.BowerBoxSP img.imgsp{
	margin-left:15px;}

/*とうろう*/
#lantern1{
width:650px;
position:relative;}
.lantern1{
	position:absolute;
	width:300px;
	left: 319px;
	top: 58px;
}

.lantern1 p{
padding-left:2px;}
#lantern2{
width:650px;
position:relative;}
#lantern2 .ML20Px{
margin-right:70px;}
#lantern2 .ML50Px{
margin-right:50px;}
.lantern2{
	position:absolute;
	width:320px;
	left: 61px;
	top: 79px;
}


.lantern2 p{
padding-left:2px;}


/*庭*/
.garden1{
	position:absolute;
	width:250px;
	left: 407px;
	top: 93px;
}
.garden2{
	position:absolute;
	width:350px;
	left: 42px;
	top: 101px;
}
.garden3{
	position:absolute;
	width:250px;
	left: 407px;
	top: 93px;
}


/*料理*/

.RyouriBox{
width:650px;
font-size:10px;
padding-bottom:48px;
}

.RyouriBox h3{
margin-bottom:30px;}

.RyouriL1{
	width:455px;
	float:left;
}



.RyouriL2{
	width:360px;
	float:left;
}
.RyoriImgR{
float:right;
margin:0;}

.LiBox{
width:420px;
margin-left:20px;
font-size:10px;}

.RyoBox{
width:650px;}

.LiBox li{
float:left;}

.LiBox .MaL20{
margin-left:20px;}

.LiBox .MaL40{
margin-left:40px;}

.RyoriImgR img{
margin:0;}

.LiBox2{
width:334px;
margin-left:20px;
font-size:10px;}
.LiBox2 li{
float:left;}

.LiBox2 .MaL20{
margin-left:20px;}

.LiBox2 .MaL40{
margin-left:47px;}

.RyouriBox p img{
	margin-top: 20px;
	margin-left: 120px;}

/*料理（コントリビュート導入）*/

.Ryouri_c {
	width: 640px ;
	margin-left: 10px;}

.Ryouri_c img.tl {
	margin-left: 0;
	text-align:left;}
	

.Ryouri_c dl {
	border-bottom: 1px #866e1c solid;
	padding-bottom:5px;

	}
	
.Ryouri_c dt {
	float:left;
	width: 120px;
}
	
.Ryouri_c dd {
	float:right;
	width: 450px;
	bottom: 0;
	font-size:16px;
	font-weight:bold;
	}
	
.LiBox_c {
	width: 150px;
	margin-right: 15px;
	float: left;}
	
.LiBox_c img{
	margin-bottom: 10px;
	display: block;}
	
.RBox_r {
	margin:0 0 30px 30px}
	
.RBox_r table {
	width: 100%;
	margin:15px 0 5px 0}
	
.RBox_r p{
	font-weight:bold;
	font-size:15px;
	margin:15px 0 5px 0
}
	
.RBox_r th { 
    width: 80px;
	font-weight:bold;
	text-align:left;
	vertical-align:top;
	padding: 3px;}

.RBox_r td {
	padding: 3px;
	}
	

.Ryouri_c .title {
	font-size: 10px;
	margin-top: 5px;}
	

	
/*木材*/

.WoodBoxR{
padding-top:30px;
width:300px;
float:right;}

.WoodBoxL{
padding-top:30px;
width:300px;
float:left;}


/* 6/26追加 */
.lodging_body section {
	margin-bottom: 60px;
}

.lodging_body div {
	text-align: left;
}

.lodging_body h2 {
	margin-top: 100px;
	margin-bottom: 40px;
	text-align: left;
}

.lodging_body h2:first-child {
	margin-top: 0px;
}

.lodging_intro_l {
	width: 312px;
	float: left;
}

.lodging_intro_r {
	width: 500px;
	float: right;
}

.lodging_intro_r h3 {
	margin-bottom: 20px;
}

.lodging_body h4 {
	margin-bottom: 20px;
}

.lodging_piclist {
	margin: 0 0 10px -11px;
}

.lodging_piclist li {
	display: inline;
	width: 276px;
	float: left;
	margin: 0 0 11px 11px;
}

.lodging_roombox {
	text-align: center;
	margin-bottom: 30px;
}

.lodging_roomtxt {
	width: 300px;
	float: left;
}

.lodging_roomtxt .madori {
	text-align: center;
	margin-top: 30px;
}

.lodging_roomprice {
	width: 490px;
	float: right;
}

.lodging_reserve {
	text-align: center;
}

.lodging_kodawari .lodging_piclist li img {
	margin-bottom: 10px;
}

.lodging_kodawari h5 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.lodging_detail table {
	border-collapse: collapse;
}

.lodging_detail table th, .lodging_detail table td {
	padding: 10px;
	border-bottom: 1px solid #d2c7a8;
}

.lodging_detail table th {
	width: 30%;
}