@charset "UTF-8";
	#FlashE{
	width:1000px；
	margin-right: auto;
	margin-left: auto;
	}
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin:0 auto;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:64px;}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#005e0d;
	font-size:14px;
}
	
	#ContentsArea-index .syousai{
	background: url(../image/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	/*各ページ*/
#MainEntry{
float:left;
width:199px;}


#RightEntry{
text-align:left;
float:right;
width:650px;}

#TxtEntry{
	margin-bottom:20px;
	text-align:left;
	width:650px;
}

#TxtEntry h3{
margin-bottom:10px;}

#TxtEntry p{
line-height:24px;}


.ImgEntry{
width:650px;}

.ImgBOX{
float:left;
width:203px;
margin-bottom:20px;}


.ImgBOX h4{
margin-bottom:15px;}

.ImgBOX2{
float:right;
width:203px;
margin-bottom:20px;}


.ImgBOX2 h4{
margin-bottom:15px;}
.M15P{
margin-left:21px;}
/*交通アクセス*/
#ImgMap{
position:relative;
text-align:right;
margin-bottom:20px;}

#Gmap{
	width:111px;
	position:absolute;
	left: 493px;
	top: 728px;
}




.MapBoxL{
	padding-top:10px;
	width:320px;
	float:left;}
	

.MapBoxR{
	padding-top:10px;
	width:320px;
	float:right;}
	
	.MapImgR{
	width:394px;
	float:right;
}
	
	
	
/*link*/
.LinkE{
line-height:24px;
margin-bottom:20px;
width:360px;
padding-left:20px;}


#LinkE_Img{
position:relative;
width:202px;}

.LinkE_Img{
	position:absolute;
	width:202px;
	left: 447px;
	top: 0px;
}
/*会社概要*/
#CompanyT{
width:650px;}

#CompanyT table{
	width:400px;
	margin-bottom: 30px;
}

#CompanyT th{
font-weight:normal;
text-align:right;
border-bottom:#d2c7a8 solid 1px;}

#CompanyT td{
border-bottom:#d2c7a8 solid 1px;}

#CompanyT .ThMp1{
vertical-align:top;
padding:15px 10px 15px 0px;}


#CompanyT .TdMp1{
vertical-align:top;
padding:15px 0px 15px 10px;}

#CompanyT .ThMp2{
vertical-align:top;
padding:0px 10px 15px 0px;}


#CompanyT .TdMp2{
vertical-align:top;
padding:0px 0px 15px 10px;}



/*会社概要*/

#Map{
width:650px;}
.MapLeft{
float:left;
width:245px;}


.MapRight{
padding-top:57px;
float:right;
width:260px;}

#Map .BorderB{
width:245px;

border-bottom:2px solid #d2c7a8}

#Map .Link2{

padding-left:20px;}
#Map .Link3{
padding-left:50px;}

#Map a{
color:#000000;
text-decoration:none;}


/*採用情報*/
#CompanyR{
width:650px;}

#CompanyR table{
	width:600px;
	margin-bottom: 30px;
}

#CompanyR th{
font-weight:normal;
text-align:right;
border-bottom:#d2c7a8 solid 1px;}

#CompanyR td{
border-bottom:#d2c7a8 solid 1px;}

#CompanyR .ThMp1{
vertical-align:top;
padding:15px 10px 15px 0px;}


#CompanyR .TdMp1{
vertical-align:top;
padding:15px 0px 15px 10px;}

#CompanyR .ThMp2{
vertical-align:top;
padding:0px 10px 15px 0px;}


#CompanyR .TdMp2{
vertical-align:top;
padding:0px 0px 15px 10px;}
