@charset "UTF-8";

body      {
	/*background-color: #000000;*/
	text-align: center;
	margin: 0;
	padding: 0;
	background: url("../images/bg.jpg") 0 0;
	}

div,td,th,p,pre  { 
	font: 12px/18px "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; 
	margin: 0 ;
	color:#000000;
	}

img  { 
	vertical-align: bottom; 
	border: 0 ;
	}

a {
	color:#000000;
	margin: 0 ;
	padding:0;
	
	}


.PdfLink2 a{
	text-decoration:none;}
.PdfLink a{
	text-decoration:none;}

.LinkE a {
	color:#000000;
	margin: 0 ;
	padding:0;
	border-bottom:1px solid #b49642;
	text-decoration:none;
	}

li {
	margin: 0;
	list-style: none;
	}

ol, ul {
	margin: 0;
	padding:0;
	}

dd { 
	margin-left: 1em ;
	}

h1   { 
	font-size: 14px; 
	font-weight: bold; 
	margin: 0;
	}

h2,h3   { 
	font-size: 12px; 
	font-weight: bold; 
	margin: 0 ;
	}

h4,h5,h6 {
	font-size:10px;
	font-weight:normal;
	margin:0;
	}

form {
	margin:0;
	}

.clear  { 
	margin-top: 0; 
	clear: both ;
	}
/*---------png画像など---------*/
 .iepngfix {  
 behavior: expression(IEPNGFIX.fix(this));  
 }
 
 
 /*TOPページに戻る*/
 .TopTxt{
 text-align:right;
 width:100%;}


 
 
  /*画像レイアウト*/
  .LImg{
	float:left;
	margin-right:25px;
}

  .LImg00{
	float:left;
	
}

  .LImg2{
	float:left;
	margin-right:40px;
}
    .RImg00{
	float:right;

}
    .RImg{
	float:right;
	margin-left:25px;
}
      .RImg2{
	float:right;
	margin-left:30px;
}
  
      .RImg15{
	float:right;
	margin-left:15px;
}
  
      .MB8{
  margin-bottom:8px;}
  
    .MB10{
  margin-bottom:10px;}
   .MB15{
  margin-bottom:15px;}
    .MB20{
  margin-bottom:20px;}
      .MB26{
  margin-bottom:26px;}
  .MB30{
  margin-bottom:30px;}
  
  .MT10{
  margin-top:10px;}
  
  
   .MR6{
  margin-right:6px;}
  
  .MT20{
  margin-top:20px;}
    .MT25{
  margin-top:26px;}
  .MT10B30{
  margin-top:20px;
  margin-bottom:30px;}
    .MB50{
  margin-bottom:50px;}
  
    .MB60{
  margin-bottom:60px;}
  
  .MB68{
  margin-bottom:68px;}
  
   .MB70{
  margin-bottom:70px;}
  .MB80{
  margin-bottom:80px;}
  
  .F20{
	  font-size: 20px;}


/* 6/22 追加 */

#gnavi {
	width: 100%;
	height: 85px;
	background: url("../images/gnavi_bg.png") 0 0 repeat-x;
	position: relative;
	z-index: 10;
}

#gnavi .inner {
	width: 850px;
	margin: 0 auto;
	position: relative;
}

#gnavi .inner h1 {
	position: absolute;
	top: 0;
	left: 34px;
}

#subnavi {
	text-align: right;
}

#subnavi li {
	display: inline;
	margin-left: 30px;
	line-height: 31px;
}

#subnavi li a {
	color: #fff;
	text-decoration: none;
}

#subnavi li a:hover {
	text-decoration: underline;
}

#mainnavi {
	width: 680px;
	height: 49px;
	margin-left: auto;
}

#mainnavi li {
	display: inline;
}

#mainnavi li a {
	display: block;
	height: 49px;
	float: left;
	background: url("../images/gnavi_btn.png") 0 0 no-repeat;
	text-indent: -9999em;
}

#mainnavi li a.ryouri { width: 155px; background-position: 0 0; }
#mainnavi li a.lodging { width: 140px; background-position: -155px 0; }
#mainnavi li a.bridal { width: 133px; background-position: -295px 0; }
#mainnavi li a.lunchbox { width: 139px; background-position: -428px 0; }
#mainnavi li a.onlineshop { width: 113px; background-position: -567px 0; }

#mainnavi li a.ryouri:hover { width: 155px; background-position: 0 -49px; }
#mainnavi li a.lodging:hover { width: 140px; background-position: -155px -49px; }
#mainnavi li a.bridal:hover { width: 133px; background-position: -295px -49px; }
#mainnavi li a.lunchbox:hover { width: 139px; background-position: -428px -49px; }
#mainnavi li a.onlineshop:hover { width: 113px; background-position: -567px -49px; }

#breadcrumb {
	position: absolute;
	top: 80px;
	right: 0;
	display: inline;
	padding: 7px 15px;
	background: #000;
	color: #fff;
	font-size: 10px;
}

#breadcrumb a {
	color: #fff;
	text-decoration: none;
}

#breadcrumb a:hover {
	text-decoration: underline;
}

#headimg {
	width: 100%;
	background: url("../images/headimg_bg.png") 0 0 repeat-x;
	margin-top: -5px;
}

#headimg .inner_top { /*トップページ用*/
	max-width: 1250px;
	height: 380px;
	margin: 0 auto;
}

#headimg .inner {
	max-width: 1250px;
	height: 120px;
	margin: 0 auto;
}

/* 各ページ毎のヘッダ画像設定 */
#headimg .index_img { background: url("../images/index_img.png") 50% 50% no-repeat; }
#headimg .honten_img { background: url("../images/honten_img.png") 50% 50% no-repeat; }
#headimg .ryouri_img { background: url("../images/ryouri_img.png") 50% 50% no-repeat; }
#headimg .lodging_img { background: url("../images/lodging_img.png") 50% 50% no-repeat; }
#headimg .wedding_img { background: url("../images/wedding_img.png") 50% 50% no-repeat; }
#headimg .lunchbox_img { background: url("../images/lunchbox_img.png") 50% 50% no-repeat; }
#headimg .building_img { background: url("../images/building_img.png") 50% 50% no-repeat; }
#headimg .houji_img { background: url("../images/houji_img.png") 50% 50% no-repeat; }
#headimg .roots_img { background: url("../images/roots_img.png") 50% 50% no-repeat; }
#headimg .form_img { background: url("../images/form_img.png") 50% 50% no-repeat; }
#headimg .tenkane_img { background: url("../images/tenkane_img.png") 50% 50% no-repeat; }
#headimg .office_img { background: url("../images/office_img.png") 50% 50% no-repeat; }
#headimg .recruit_img { background: url("../images/recruit_img.png") 50% 50% no-repeat; }
#headimg .access_img { background: url("../images/access_img.png") 50% 50% no-repeat; }
#headimg .link_img { background: url("../images/link_img.png") 50% 50% no-repeat; }
#headimg .map_img { background: url("../images/map_img.png") 50% 50% no-repeat; }
#headimg .privacy_img { background: url("../images/privacy_img.png") 50% 50% no-repeat; }
#headimg .season_img { background: url("../images/season_img.png") 50% 50% no-repeat; }

#original_system {
	width: 100%;
	background: url("../images/original_system_bg.png") 0 0 repeat-x;
	margin-bottom: 40px;
}

#original_system .inner {
	width: 850px;
	height: 100px;
	margin: 0 auto;
	padding-top: 15px;
	background: url("../images/original_system_symbol.png") 0 0 no-repeat;
}

#original_system_switch {
	width: 97px;
	height: 82px;
	text-align: left;
	float: left;
}

#lodging_panel_sw {
	margin-bottom: 6px;
}

#lodging_panel, #ryouri_panel {
	width: 753px;
	height: 82px;
	float: right;
}

#lodging_panel .lodging_inner {
	width: 374px;
	height: 72px;
	padding-top: 10px;
	padding-left: 172px; 
	background: url("../images/lodging_panel_bg.png") 0 0 no-repeat;
	float: left;
}

.lodging_inner .lodging_date, .lodging_inner .lodging_person, .lodging_inner .lodging_submit {
	text-align: left;
	float: left;
}

.lodging_inner .lodging_date .tit, .lodging_inner .lodging_person .tit {
	font-weight: bold;
}

.lodging_inner .lodging_date div, .lodging_inner .lodging_person div, .lodging_inner .lodging_submit div {
	margin-bottom: 3px;
}

.lodging_inner .lodging_date {
	width: 130px;
	padding-left: 17px
}

.lodging_inner .lodging_date input.original_lodging_year { width: 35px; text-align: right; padding-right: 5px;}
.lodging_inner .lodging_date input.original_lodging_month { width: 20px; text-align: right; padding-right: 5px; }
.lodging_inner .lodging_date input.original_lodging_date { width: 20px; text-align: right; padding-right: 5px; }

.lodging_inner .lodging_person {
	width: 114px;
	padding-left: 7px
}

.lodging_inner .lodging_person select.original_loading_adult, .lodging_inner .lodging_person select.original_loading_child {
	margin-left: 10px;
}

.lodging_inner .lodging_submit {
	width: 106px;
	text-align: center;
}

#lodging_panel .lodging_present {
	float: right;
}

/* 食事予約パネル切り替えボタン - 実装までhidden */
#ryouri_panel_sw { display: none; }

input.original_btn_s {
  width: 91px;
  height: 27px;
  background: url("../images/original_btn_s.png");
  border: 0;
  cursor: pointer
}

input.original_btn_c {
  width: 89px;
  height: 33px;
  background: url("../images/original_btn_c.png");
  border: 0;
  cursor: pointer
}

#footer_area {
	width: 100%;
	background: url("../images/footer_bg.png") 0 0 repeat-x;
}

#footer_area .inner {
	width: 850px;
	height: 103px;
	margin: 0 auto;
	padding-top: 15px;
	position: relative;
}

#footer_logo {
	position: absolute;
	top: 15px;
	left: 0;
}

#footernavi {
	width: 586px;
	height: 15px;
	margin: 0 0 10px auto;
	background: url("../images/footernavi_btn.png") 0 0 no-repeat;
}

#footernavi li {
	display: inline;
}

#footernavi li a {
	display: block;
	float: left;
	height: 15px;
	text-indent: -9999em;
}
#footernavi li a.ryouri { width: 114px; }
#footernavi li a.lodging { width: 121px; }
#footernavi li a.bridal { width: 121px; }
#footernavi li a.lunchbox { width: 121px; }
#footernavi li a.onlineshop { width: 109px; }

#footersubnavi {
	text-align: right;
	margin-bottom: 5px;
}

#footersubnavi li {
	display: inline;
}

#footersubnavi li a {
	color: #868686;
}

#footersubnavi li a {
	margin-left: 10px;
	text-decoration: none;
}

#footersubnavi li a:hover {
	text-decoration: underline;
}

#footer_info {
	width: 850px;
	height: 15px;
	padding-top: 35px;
	background: url("../images/footer_info.png") top right no-repeat;
	color: #868686;
	font-size: 10px;
	text-align: right;
}


.clearfix:after {
  display: block;
  clear: both;
  content: "";
}