@charset "Shift_JIS";

body      {
	background-color: #000000;
	text-align: center;
	margin: 0;
	padding: 0;
	background: url(../images/index/img_bg3.jpg) repeat top center;
	
	}

div,td,th,p,pre  { 
	font: 12px/18px "Hiragino Kaku Gothic Pro", "qMmpS Pro W3", "lr oSVbN", sans-serif; 
	margin: 0 ;
	color:#000000;
	}

img  { 
	vertical-align: bottom; 
	border: 0 ;
	}

a {
	color:#000000;
	margin: 0 ;
	padding:0;
	
	}


.PdfLink2 a{
	text-decoration:none;}
.PdfLink a{
	text-decoration:none;}

.LinkE a {
	color:#000000;
	margin: 0 ;
	padding:0;
	border-bottom:1px solid #b49642;
	text-decoration:none;
	}

li {
	margin: 0;
	list-style: none;
	}

ol, ul {
	margin: 0;
	padding:0;
	}

dd { 
	margin-left: 1em ;
	}

h1   { 
	font-size: 14px; 
	font-weight: bold; 
	margin: 0;
	}

h2,h3   { 
	font-size: 12px; 
	font-weight: bold; 
	margin: 0 ;
	}

h4,h5,h6 {
	font-size:10px;
	font-weight:normal;
	margin:0;
	}

form {
	margin:0;
	}

.clear  { 
	margin-top: 0; 
	clear: both ;
	}
/*---------pngζΘΗ---------*/
 .iepngfix {  
 behavior: expression(IEPNGFIX.fix(this));  
 }
 
 
 /*TOPy[WΙίι*/
 .TopTxt{
 text-align:right;
 width:100%;}


 
 
  /*ζCAEg*/
  .LImg{
	float:left;
	margin-right:25px;
}

  .LImg00{
	float:left;
	
}

  .LImg2{
	float:left;
	margin-right:40px;
}
    .RImg00{
	float:right;

}
    .RImg{
	float:right;
	margin-left:25px;
}
      .RImg2{
	float:right;
	margin-left:30px;
}
  
      .MB8{
  margin-bottom:8px;}
  
    .MB10{
  margin-bottom:10px;}
    .MB20{
  margin-bottom:20px;}
      .MB26{
  margin-bottom:26px;}
  .MB30{
  margin-bottom:30px;}
  
  
    .MB50{
  margin-bottom:50px;}
  
    .MB60{
  margin-bottom:60px;}
  
  .MB68{
  margin-bottom:68px;}
  
   .MB70{
  margin-bottom:70px;}
  .MB80{
  margin-bottom:80px;}
  
  
  
  
  #MaineImg{
	text-align:center;
	width:756px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top:20px;
	padding-bottom:30px;

	}
	
	#MaineImg h1{
	margin-bottom:20px;} 
	
	
	