@charset "UTF-8";
	#FlashE{
	width:1000px；
	margin-right: auto;
	margin-left: auto;
	}
	
		
	/*TOPページメニュー*/
	
	#MainmenuBG{
	background: url(../images/index/img_bg2.jpg) top;
	height:55px;
	margin-right: auto;
	margin-left: auto;
	}
	
	#Mainmenu{
	width:850px;
	text-align:left;
	margin:0 auto;
	}
	
	#MainmenuBG li{
	float:left;
	margin-top: 10px;
	}
	#MainmenuBG .ButtonM{
	display:inline;
	margin-left:64px;}
	
	/*コンテンツ*/
	
	#ContentsArea-index {
	background: url(../images/index/img_bg3.jpg) top;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	}	
	#ContentsArea-index h2{
	color:#005e0d;
	font-size:14px;
}
	
	#ContentsArea-index .syousai{
	background: url(../image/index/img_icon.jpg) no-repeat right;
	text-align:right;
	padding-right:13px;
	float:right;
}
	#ContentsArea {
	width:850px;
	padding-top:19px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	}	
	
	
/*ブライダルTOPページ*/

/*ブライダルのみで使う*/
#RightEntry{position:relative;}



#ImgTOP{
	position:absolute;
	width:169px;
	left: 481px;
	top: 0px;
}
/*各ページ*/
#MainEntry{
float:left;
width:199px;}


#RightEntry{
text-align:left;
float:right;
width:650px;}

.TxtEntry{
	margin-bottom:40px;
	text-align:left;
	width:650px;
}

.TxtEntry h3{
	margin-bottom:30px;
}

.TxtEntry p{
line-height:24px;}


.ImgEntry{
width:650px;}

.ImgBOX{
	float:left;
	width:153px;
	margin-bottom:20px;
}


.ImgBOX h4{
margin-bottom:15px;}

.ImgBOX2{
	float:right;
	width:153px;
	margin-bottom:20px;
}

.WM10{
margin-top:5px;}
.ImgBOX2 h4{
margin-bottom:15px;}
.M15P{
	margin-left:13px;
}



/*プラン*/
#centerBox{
width:650px;
text-align:center;}

.RBoxP{
width:311px;
float:right;}


.RBoxP p{
	line-height:24px;}

.Li24{
	line-height:24px;}
	
/*見積シミュレーション*/

#leftBox{
width:550px;
text-align:left;
margin-left: 20px;
font-size: 18px;}

#leftBox li { 
vertical-align: middle;
clear:both;
padding:0;
margin:0;}

#leftBox ul { 
padding-bottom: 15px;}

#leftBox dl{
padding:0;
margin:0;
vertical-align:bottom;}

#leftBox dt { 
float:left;
display: inline;
padding:0;
margin-bottom:10px;}

#leftBox dd { 
float:right;
display: inline;
padding:0;
margin-bottom:10px;}

#leftBox span.Txt01 { 
font-size: 11px;
margin-top:1px;
margin-right: 3px;}

#leftBox span.Txt02{ 
font-size: 11px;
text-align: left;}


#leftBox input.radio{ 
margin:0 8px 0 0;}

#leftBox input.text {
margin: 0 8px;
height:20px;}



span.price {
font-size: 30px;
font-weight:bold;
color: #F00;}
	 