/* Basic code - don't modify */
 
 #nav { display: block; margin: 0; padding: 0; position: relative; }
  #nav li { display: block; list-style: none; margin: 0; padding: 0; float: left; position: relative; }
  #nav a { display: block; }
  #nav ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
  * html #nav ul { line-height: 0; } /* IE6 "fix" */
  	#nav ul a { zoom: 1; } /* IE6/7 fix */
    #nav ul li {
	float: none;
	width:200px;
	text-align:center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
    #nav ul ul { top: 0; }
    
/* Essentials - configure this */

#nav ul { width: 200px; }
#nav ul ul { left: 200px; }

/* Everything else is theming */
 
#nav {
	height: 40px;
}
#nav *:hover { background-color: none; }
#nav a {
	font-size: 12px;
	padding: 0px;
	line-height: 1;
}
  #nav li.hover a {  }
  #nav ul { top: 40px; }
    #nav ul li a { }
      #nav ul a.hover {  }
   #nav ul a {
	opacity: 0.9;
	filter: alpha(opacity=90);
}
/* #nav ul a { border-bottom: none; } - I also needed this for IE6/7 */
